In [ ]:
#importing requried lib
from google.colab import drive

In [ ]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
df = pd.read_csv('/content/gdrive/MyDrive/school_scores.csv')

In [ ]:
#Task 1
df

,Year,State.Code,State.Name,Total.Math,Total.Test-takers,Total.Verbal,Academic Subjects.Arts/Music.Average GPA,Academic Subjects.Arts/Music.Average Years,Academic Subjects.English.Average GPA,Academic Subjects.English.Average Years,...,Score Ranges.Between 600 to 700.Math.Total,Score Ranges.Between 600 to 700.Verbal.Females,Score Ranges.Between 600 to 700.Verbal.Males,Score Ranges.Between 600 to 700.Verbal.Total,Score Ranges.Between 700 to 800.Math.Females,Score Ranges.Between 700 to 800.Math.Males,Score Ranges.Between 700 to 800.Math.Total,Score Ranges.Between 700 to 800.Verbal.Females,Score Ranges.Between 700 to 800.Verbal.Males,Score Ranges.Between 700 to 800.Verbal.Total
0,2005,AL,Alabama,559,3985,567,3.92,2.2,3.53,3.9,...,1096,596,613,1209,156,292,448,219,250,469
1,2005,AK,Alaska,519,3996,523,3.76,1.9,3.35,3.9,...,787,423,375,798,47,116,163,109,115,224
2,2005,AZ,Arizona,530,18184,526,3.85,2.1,3.45,3.9,...,3814,1831,1679,3510,327,630,957,412,501,913
3,2005,AR,Arkansas,552,1600,563,3.90,2.2,3.61,4.0,...,443,242,226,468,49,83,132,77,93,170
4,2005,CA,California,522,186552,504,3.76,1.8,3.32,3.8,...,37605,16078,14966,31044,5451,8792,14243,5011,4766,9777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,2015,VA,Virginia,517,59621,518,3.83,2.1,3.47,3.9,...,10870,5765,5401,11166,1257,2170,3427,1479,1561,3040
573,2015,WA,Washington,511,44423,502,3.83,2.2,3.50,3.9,...,8150,3819,3745,7564,842,1584,2426,1067,1077,2144
574,2015,WV,West Virginia,500,2501,509,3.92,2.4,3.71,3.9,...,355,211,186,397,30,43,73,42,40,82
575,2015,WI,Wisconsin,606,2277,591,3.93,2.6,3.77,4.1,...,798,387,337,724,166,309,475,198,225,423
576,2015,WY,Wyoming,587,181,588,3.91,2.5,3.84,4.1,...,64,34,20,54,12,13,25,15,15,30

In [ ]:
#Task 2--
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 99 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Year                                                     577 non-null    int64
 1   State.Code                                               577 non-null    object
 2   State.Name                                               577 non-null    object
 3   Total.Math                                               577 non-null    int64
 4   Total.Test-takers                                        577 non-null    int64
 5   Total.Verbal                                             577 non-null    int64
 6   Academic Subjects.Arts/Music.Average GPA                 577 non-null    float64
 7   Academic Subjects.Arts/Music.Average Years               577 non-null    float64
 8   Academic Subjects.English.Average GPA                    577 non-null    float64
 9   Academic Subjects.English.Average Years                  577 non-null    float64
 10  Academic Subjects.Foreign Languages.Average GPA          577 non-null    float64
 11  Academic Subjects.Foreign Languages.Average Years        577 non-null    float64
 12  Academic Subjects.Mathematics.Average GPA                577 non-null    float64
 13  Academic Subjects.Mathematics.Average Years              577 non-null    float64
 14  Academic Subjects.Natural Sciences.Average GPA           577 non-null    float64
 15  Academic Subjects.Natural Sciences.Average Years         577 non-null    float64
 16  Academic Subjects.Social Sciences/History.Average GPA    577 non-null    float64
 17  Academic Subjects.Social Sciences/History.Average Years  577 non-null    float64
 18  Family Income.Between 20-40k.Math                        577 non-null    int64
 19  Family Income.Between 20-40k.Test-takers                 577 non-null    int64
 20  Family Income.Between 20-40k.Verbal                      577 non-null    int64
 21  Family Income.Between 40-60k.Math                        577 non-null    int64
 22  Family Income.Between 40-60k.Test-takers                 577 non-null    int64
 23  Family Income.Between 40-60k.Verbal                      577 non-null    int64
 24  Family Income.Between 60-80k.Math                        577 non-null    int64
 25  Family Income.Between 60-80k.Test-takers                 577 non-null    int64
 26  Family Income.Between 60-80k.Verbal                      577 non-null    int64
 27  Family Income.Between 80-100k.Math                       577 non-null    int64
 28  Family Income.Between 80-100k.Test-takers                577 non-null    int64
 29  Family Income.Between 80-100k.Verbal                     577 non-null    int64
 30  Family Income.Less than 20k.Math                         577 non-null    int64
 31  Family Income.Less than 20k.Test-takers                  577 non-null    int64
 32  Family Income.Less than 20k.Verbal                       577 non-null    int64
 33  Family Income.More than 100k.Math                        577 non-null    int64
 34  Family Income.More than 100k.Test-takers                 577 non-null    int64
 35  Family Income.More than 100k.Verbal                      577 non-null    int64
 36  GPA.A minus.Math                                         577 non-null    int64
 37  GPA.A minus.Test-takers                                  577 non-null    int64
 38  GPA.A minus.Verbal                                       577 non-null    int64
 39  GPA.A plus.Math                                          577 non-null    int64
 40  GPA.A plus.Test-takers                                   577 non-null    int64
 41  GPA.A plus.Verbal                                        577 non-null    int64
 42  GPA.A.Math                                               577 non-null    int64
 43  GPA.A.Test-takers                                        577 non-null    int64
 44  GPA.A.Verbal                                             577 non-null    int64
 45  GPA.B.Math                                               577 non-null    int64
 46  GPA.B.Test-takers                                        577 non-null    int64
 47  GPA.B.Verbal                                             577 non-null    int64
 48  GPA.C.Math                                               577 non-null    int64
 49  GPA.C.Test-takers                                        577 non-null    int64
 50  GPA.C.Verbal                                             577 non-null    int64
 51  GPA.D or lower.Math                                      577 non-null    int64
 52  GPA.D or lower.Test-takers                               577 non-null    int64
 53  GPA.D or lower.Verbal                                    577 non-null    int64
 54  GPA.No response.Math                                     577 non-null    int64
 55  GPA.No response.Test-takers                              577 non-null    int64
 56  GPA.No response.Verbal                                   577 non-null    int64
 57  Gender.Female.Math                                       577 non-null    int64
 58  Gender.Female.Test-takers                                577 non-null    int64
 59  Gender.Female.Verbal                                     577 non-null    int64
 60  Gender.Male.Math                                         577 non-null    int64
 61  Gender.Male.Test-takers                                  577 non-null    int64
 62  Gender.Male.Verbal                                       577 non-null    int64
 63  Score Ranges.Between 200 to 300.Math.Females             577 non-null    int64
 64  Score Ranges.Between 200 to 300.Math.Males               577 non-null    int64
 65  Score Ranges.Between 200 to 300.Math.Total               577 non-null    int64
 66  Score Ranges.Between 200 to 300.Verbal.Females           577 non-null    int64
 67  Score Ranges.Between 200 to 300.Verbal.Males             577 non-null    int64
 68  Score Ranges.Between 200 to 300.Verbal.Total             577 non-null    int64
 69  Score Ranges.Between 300 to 400.Math.Females             577 non-null    int64
 70  Score Ranges.Between 300 to 400.Math.Males               577 non-null    int64
 71  Score Ranges.Between 300 to 400.Math.Total               577 non-null    int64
 72  Score Ranges.Between 300 to 400.Verbal.Females           577 non-null    int64
 73  Score Ranges.Between 300 to 400.Verbal.Males             577 non-null    int64
 74  Score Ranges.Between 300 to 400.Verbal.Total             577 non-null    int64
 75  Score Ranges.Between 400 to 500.Math.Females             577 non-null    int64
 76  Score Ranges.Between 400 to 500.Math.Males               577 non-null    int64
 77  Score Ranges.Between 400 to 500.Math.Total               577 non-null    int64
 78  Score Ranges.Between 400 to 500.Verbal.Females           577 non-null    int64
 79  Score Ranges.Between 400 to 500.Verbal.Males             577 non-null    int64
 80  Score Ranges.Between 400 to 500.Verbal.Total             577 non-null    int64
 81  Score Ranges.Between 500 to 600.Math.Females             577 non-null    int64
 82  Score Ranges.Between 500 to 600.Math.Males               577 non-null    int64
 83  Score Ranges.Between 500 to 600.Math.Total               577 non-null    int64
 84  Score Ranges.Between 500 to 600.Verbal.Females           577 non-null    int64
 85  Score Ranges.Between 500 to 600.Verbal.Males             577 non-null    int64
 86  Score Ranges.Between 500 to 600.Verbal.Total             577 non-null    int64
 87  Score Ranges.Between 600 to 700.Math.Females             577 non-null    int64
 88  Score Ranges.Between 600 to 700.Math.Males               577 non-null    int64
 89  Score Ranges.Between 600 to 700.Math.Total               577 non-null    int64
 90  Score Ranges.Between 600 to 700.Verbal.Females           577 non-null    int64
 91  Score Ranges.Between 600 to 700.Verbal.Males             577 non-null    int64
 92  Score Ranges.Between 600 to 700.Verbal.Total             577 non-null    int64
 93  Score Ranges.Between 700 to 800.Math.Females             577 non-null    int64
 94  Score Ranges.Between 700 to 800.Math.Males               577 non-null    int64
 95  Score Ranges.Between 700 to 800.Math.Total               577 non-null    int64
 96  Score Ranges.Between 700 to 800.Verbal.Females           577 non-null    int64
 97  Score Ranges.Between 700 to 800.Verbal.Males             577 non-null    int64
 98  Score Ranges.Between 700 to 800.Verbal.Total             577 non-null    int64
dtypes: float64(12), int64(85), object(2)
memory usage: 446.4+ KB

In [ ]:
#Task 3--
df.describe(include='all')

,Year,State.Code,State.Name,Total.Math,Total.Test-takers,Total.Verbal,Academic Subjects.Arts/Music.Average GPA,Academic Subjects.Arts/Music.Average Years,Academic Subjects.English.Average GPA,Academic Subjects.English.Average Years,...,Score Ranges.Between 600 to 700.Math.Total,Score Ranges.Between 600 to 700.Verbal.Females,Score Ranges.Between 600 to 700.Verbal.Males,Score Ranges.Between 600 to 700.Verbal.Total,Score Ranges.Between 700 to 800.Math.Females,Score Ranges.Between 700 to 800.Math.Males,Score Ranges.Between 700 to 800.Math.Total,Score Ranges.Between 700 to 800.Verbal.Females,Score Ranges.Between 700 to 800.Verbal.Males,Score Ranges.Between 700 to 800.Verbal.Total
count,577.000000,577,577,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,...,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000,577.000000
unique,NaN,53,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,AL,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,11,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2010.019064,NaN,NaN,535.682842,27914.242634,531.334489,3.822704,2.288735,3.500953,3.929463,...,6055.634315,2914.299827,2677.575390,5592.358752,792.625650,1306.644714,2099.256499,849.818024,847.265165,1697.116118
std,3.169623,NaN,NaN,46.171611,45602.106878,44.318302,0.093249,0.319170,0.185561,0.092975,...,11358.022294,5949.386956,5129.548845,11069.171029,1787.202078,2557.590855,4334.327270,1665.755005,1625.228584,3289.674266
min,2005.000000,NaN,NaN,383.000000,134.000000,401.000000,3.430000,1.200000,3.030000,3.500000,...,26.000000,13.000000,10.000000,23.000000,2.000000,1.000000,1.000000,2.000000,2.000000,4.000000
25%,2007.000000,NaN,NaN,504.000000,2536.000000,496.000000,3.760000,2.100000,3.350000,3.900000,...,609.000000,319.000000,302.000000,617.000000,83.000000,163.000000,251.000000,123.000000,121.000000,246.000000
50%,2010.000000,NaN,NaN,527.000000,6468.000000,522.000000,3.850000,2.300000,3.510000,3.900000,...,1462.000000,718.000000,672.000000,1383.000000,223.000000,406.000000,645.000000,295.000000,295.000000,605.000000
75%,2013.000000,NaN,NaN,571.000000,35799.000000,572.000000,3.900000,2.500000,3.670000,4.000000,...,7308.000000,3329.000000,3215.000000,6521.000000,821.000000,1475.000000,2301.000000,987.000000,970.000000,1971.000000
max,2015.000000,NaN,NaN,619.000000,241553.000000,612.000000,3.960000,3.100000,3.880000,4.100000,...,116372.000000,71360.000000,56513.000000,127873.000000,24126.000000,30815.000000,54941.000000,21826.000000,20460.000000,42286.000000

In [ ]:
#Task 4--
df.isnull()

,Year,State.Code,State.Name,Total.Math,Total.Test-takers,Total.Verbal,Academic Subjects.Arts/Music.Average GPA,Academic Subjects.Arts/Music.Average Years,Academic Subjects.English.Average GPA,Academic Subjects.English.Average Years,...,Score Ranges.Between 600 to 700.Math.Total,Score Ranges.Between 600 to 700.Verbal.Females,Score Ranges.Between 600 to 700.Verbal.Males,Score Ranges.Between 600 to 700.Verbal.Total,Score Ranges.Between 700 to 800.Math.Females,Score Ranges.Between 700 to 800.Math.Males,Score Ranges.Between 700 to 800.Math.Total,Score Ranges.Between 700 to 800.Verbal.Females,Score Ranges.Between 700 to 800.Verbal.Males,Score Ranges.Between 700 to 800.Verbal.Total
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
573,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
574,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
575,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
576,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
#Task 5--
print("no null values -\n",df)

no null values -
      Year State.Code     State.Name  Total.Math  Total.Test-takers  \
0    2005         AL        Alabama         559               3985
1    2005         AK         Alaska         519               3996
2    2005         AZ        Arizona         530              18184
3    2005         AR       Arkansas         552               1600
4    2005         CA     California         522             186552
..    ...        ...            ...         ...                ...
572  2015         VA       Virginia         517              59621
573  2015         WA     Washington         511              44423
574  2015         WV  West Virginia         500               2501
575  2015         WI      Wisconsin         606               2277
576  2015         WY        Wyoming         587                181

     Total.Verbal  Academic Subjects.Arts/Music.Average GPA  \
0             567                                      3.92
1             523                                      3.76
2             526                                      3.85
3             563                                      3.90
4             504                                      3.76
..            ...                                       ...
572           518                                      3.83
573           502                                      3.83
574           509                                      3.92
575           591                                      3.93
576           588                                      3.91

     Academic Subjects.Arts/Music.Average Years  \
0                                           2.2
1                                           1.9
2                                           2.1
3                                           2.2
4                                           1.8
..                                          ...
572                                         2.1
573                                         2.2
574                                         2.4
575                                         2.6
576                                         2.5

     Academic Subjects.English.Average GPA  \
0                                     3.53
1                                     3.35
2                                     3.45
3                                     3.61
4                                     3.32
..                                     ...
572                                   3.47
573                                   3.50
574                                   3.71
575                                   3.77
576                                   3.84

     Academic Subjects.English.Average Years  ...  \
0                                        3.9  ...
1                                        3.9  ...
2                                        3.9  ...
3                                        4.0  ...
4                                        3.8  ...
..                                       ...  ...
572                                      3.9  ...
573                                      3.9  ...
574                                      3.9  ...
575                                      4.1  ...
576                                      4.1  ...

     Score Ranges.Between 600 to 700.Math.Total  \
0                                          1096
1                                           787
2                                          3814
3                                           443
4                                         37605
..                                          ...
572                                       10870
573                                        8150
574                                         355
575                                         798
576                                          64

     Score Ranges.Between 600 to 700.Verbal.Females  \
0                                               596
1                                               423
2                                              1831
3                                               242
4                                             16078
..                                              ...
572                                            5765
573                                            3819
574                                             211
575                                             387
576                                              34

     Score Ranges.Between 600 to 700.Verbal.Males  \
0                                             613
1                                             375
2                                            1679
3                                             226
4                                           14966
..                                            ...
572                                          5401
573                                          3745
574                                           186
575                                           337
576                                            20

     Score Ranges.Between 600 to 700.Verbal.Total  \
0                                            1209
1                                             798
2                                            3510
3                                             468
4                                           31044
..                                            ...
572                                         11166
573                                          7564
574                                           397
575                                           724
576                                            54

     Score Ranges.Between 700 to 800.Math.Females  \
0                                             156
1                                              47
2                                             327
3                                              49
4                                            5451
..                                            ...
572                                          1257
573                                           842
574                                            30
575                                           166
576                                            12

     Score Ranges.Between 700 to 800.Math.Males  \
0                                           292
1                                           116
2                                           630
3                                            83
4                                          8792
..                                          ...
572                                        2170
573                                        1584
574                                          43
575                                         309
576                                          13

     Score Ranges.Between 700 to 800.Math.Total  \
0                                           448
1                                           163
2                                           957
3                                           132
4                                         14243
..                                          ...
572                                        3427
573                                        2426
574                                          73
575                                         475
576                                          25

     Score Ranges.Between 700 to 800.Verbal.Females  \
0                                               219
1                                               109
2                                               412
3                                                77
4                                              5011
..                                              ...
572                                            1479
573                                            1067
574                                              42
575                                             198
576                                              15

     Score Ranges.Between 700 to 800.Verbal.Males  \
0                                             250
1                                             115
2                                             501
3                                              93
4                                            4766
..                                            ...
572                                          1561
573                                          1077
574                                            40
575                                           225
576                                            15

     Score Ranges.Between 700 to 800.Verbal.Total
0                                             469
1                                             224
2                                             913
3                                             170
4                                            9777
..                                            ...
572                                          3040
573                                          2144
574                                            82
575                                           423
576                                            30

[577 rows x 99 columns]